h2 {
  font-family: "Source Sans Pro", sans-serif;
  margin: 30px 40px;
}

.education-title-card {
  display: flex;
  padding: 24px 32px;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  background: var(--primary-color-navy);
  margin: 40px 40px;
}
.certificate-card {
  display: flex;
  width: 211px;
  padding: 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: var(--secondary-color-blue);
  border-radius: 12px;
}
.job-title-card {
  display: flex;
  width: 240px;
  height: 260px;
  padding: 24px 32px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 16px;
  background: var(--primary-color-navy);
}
.job-experince-card {
  display: flex;
  padding: 16px 24px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 12px;
  background: var(--secondary-color-blue);
}
.job-info {
  color: var(--primary-color-base);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.work-place {
  color: var(--tertiary-color-lime);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.time {
  text-align: right;
  font-weight: 400;
  font-size: 20px;
}
.job-group {
  display: block;
  margin: 40px 40px;
}
