:root {
  /* Colors */
  --primary-color-base: #fff7ec;
  --primary-color-navy: #0a2342;
  --primary-color-green: #5e807f;
  --secondary-color-orange: #fc7a57;
  --tertiary-color-lime: #ebfacf;
  --grey-color-dark: #424242;
}

body {
  background-color: var(--primary-color-base);
}
.work-background {
  background-color: var(--primary-color-base);
}
footer {
  width: 100%;
  height: fit-content;
  background-color: var(--primary-color-navy);
  text-align: center;
  justify-content: center;
  padding: 20px 24px;
}
footer p {
  font-family: monospace;
  color: var(--primary-color-base);
  font-size: 16px;
  text-align: center;
}
.footer-link {
  margin: 0 8px;
  width: 30px;
}
.footer-icons {
  display: block;
  margin: 0 auto;
}
.sans-title-md {
  font-family:'Archivo Black', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--primary-color-navy);
}
.sans-title-lg {
  font-family: 'Archivo Black', sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--primary-color-navy);
}
.navbar-toggler {
  border-style: none;
}
.hamburger-icon {
  width: 32px;
  height: 32px;
}
.wordmark {
  height: 30px;
  margin-left: 20px;
}
.nav-item {
  padding-left: 24px;
}




.active {
  text-decoration: underline 0.3em var(--secondary-color-orange);
  padding-bottom: 3px;
}
.navbar-nav {
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
  font-size: 16px;
  font-weight: bold;

}


.description {
  background-color: var(--secondary-color-blue);
  padding: 24px 40px;
}
.body-description {
  color: var(--primary-color-navy);
  font-family: monospace;
  font-weight: 500;
  font-size: 18px;
}

.container {
  margin-bottom: 32px;
}
.action-button {
  display: flex;
  padding: 12px 0px;
  justify-content: center;
  width: auto;
  background-color: var(--primary-color-green);
  color: var(--primary-color-base);
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: bold;
  border-style: solid;
  border-color: var(--primary-color-base);
  border-radius: 30px;
  transition: 300ms ease-in left;
}
.work-title {
  font-family: 'Archivo Black', sans-serif;
  color: var(--primary-color-navy);
  font-size: 24px;
  margin: 8px 0px;
}
.work-description {
  font-family: monospace;
  color: var(--primary-color-navy);
  margin: 8px 0px 16px 0px;
  font-size: 16px;
}
.action-button:hover {
  background-color: var(--primary-color-base);
  border-color: var(--primary-color-green);
  color: var(--primary-color-green);
}

h1 {
  font-family: 'Archivo Black', sans-serif;
  color: var(--primary-color-navy);
  margin-bottom: 40px;
  margin-top: 40px;
}

.tag-work-type {
  background-color: var(--secondary-color-orange);
  padding: 4px 12px;
  display: inline-flex;
  margin: 4px 4px 4px 0px;
  font-size: 14px;
  font-family: "Source Sans Pro", sans-serif;
  color: var(--primary-color-base);
  font-weight: 500;
  border-radius: 4px;
}
.card {
  border-color: var(--primary-color-base);
  background-color: var(--primary-color-base);
}
.break-image{
  margin-bottom: -11px;
}

@media (min-width: 500px) and (max-width: 900px) {
  .break-image {
    margin-bottom: -6px;
  }
}
@media (max-width: 500px) {
  .break-image {
    margin-bottom: -4px;
  }
}