:root {
  --primary-color-base: #fafafa;
  --primary-color-navy: #072f38;
  --primary-color-green: #37514d;
  --secondary-color-blue: #9cc4bc;
  --secondary-color-sagegreeen: #a1ad95;
  --secondary-color-orange: #e68c3a;
  --tertiary-color-lime: #ebfacf;
  --grey-color-dark: #535252;
  --grey-color-light: #f1f1f1;
}
.sans-title-md {
  font-family: Source Sans Pro;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--primary-color-navy);
}
.sans-title-lg {
  font-family: Source Sans Pro;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--primary-color-navy);
}
.navbar-toggler {
  border-style: none;
}

.hamburger-icon {
  width: 30px;
  height: 30px;
}
.wordmark {
  width: 180px;
  height: 44px;
}

body {
  background-color: var(--primary-color-base);
}

.index-tag-bar {
  display: inline-flex;
  width: 100%;
  padding: 28.5px 53px 28.5px 54px;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color-blue);
}

.tag {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: var(--primary-color-base);
  margin: 0 8px;
  font-size: 12px;
}

@media (max-width: 1000px) {
  .index-tag-bar {
    display: none;
  }
}
