.container {
  margin-bottom: 32px;
}
.action-button {
  display: flex;
  padding: 12px 0px;
  justify-content: center;
  width: auto;
  background-color: var(--secondary-color-orange);
  color: var(--primary-color-base);
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: bold;
  border-style: solid;
  border-color: var(--primary-color-base);
  border-radius: 30px;
  transition: 300ms ease-in left;
}
.works-title {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--primary-color-navy);
  font-size: 24px;
  margin: 8px 0px;
}
.work-description {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--primary-color-navy);
  margin: 8px 0px 16px 0px;
  font-size: 16px;
}
.action-button:hover {
  background-color: var(--primary-color-base);
  border-color: var(--secondary-color-orange);
  color: var(--secondary-color-orange);
}
.work-preview {
  background-color: var(--primary-color-navy);
  width: 100%;
  margin: 0 auto;
  display: block;
  padding: 30px;
}

.work-title {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--primary-color-navy);
  margin-bottom: 40px;
  margin-top: 40px;
}
.tag-work-type {
  background-color: var(--primary-color-navy);
  padding: 4px 12px;
  display: inline-flex;
  margin: 4px 4px 4px 0px;
  font-size: 12px;
  font-family: "Source Sans Pro", sans-serif;
  color: var(--primary-color-base);
  font-weight: 500;
  border-radius: 4px;
}
.card {
  border-color: var(--primary-color-base)
}